<div class="min-h-full p-2 rounded-lg shadow-lg bg-slate-300 ">
    <h3 class="py-3 mt-2 text-2xl font-semibold text-center">Providing value to Super Camper Enthusiasts</h3>

    <ul class="p-3">
        <li>This is a new site and will build over time. I expect there will be thousands of plots recorded on here eventually. But we have to start somewhere, right? There are costs to put a site like this on a server and to maintain it so it will be a paid for service.</li>
        <li><strong>Pioneers: </strong>First 200 sign ups who leave a review for a campsite
            plot will be founder members and it will always be free to use.</li>
        <li><strong>Second Wave: </strong>From user 201 to 500 the site will be free for the first year.</li>
        <li><strong>And Beyond: </strong>The price will be €3 per month or €20 if you pay for a year.</li>
    </ul>
    <p class="p-3 ">
        I have designs I'm working on for Mugs, stickers and that sort of thing, whatever camping gear etc. I'm also working on a way to get a discount for members at campsites. I'm open to suggestions for other things that would be of value to you. I'm also open to ideas for the site. I'm a web developer and I'm building this site for you. I want it to be the best it can be.
</div>