{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Title</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js" defer></script>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    

</head>
<body class=" bg-gray-200 {% block class %}{% endblock %}">
	
{% include 'includes/messages.html' %}

 {% include 'includes/header.html' %}


{% block layout %}
    
{% endblock layout %}
    

</body>
</html>