{% extends 'base.html' %} 
{% load static %} 
{% block content %}

    <!-- Main section -->

<div class="col-span-3 p-3 bg-slate-300">
            {% include 'includes/cards.html' %}
                <div class="text-center ">
                    <h3 class="mb-2 text-2xl font-semibold text-center text-blue-800 ">
                        {{ plot.title }}</h3>
                </div>
                <!-- Plot image -->
                <figure>
                    {% if plot.plot_image %}
                    <a href="#"><img class="mx-auto mb-2 w-96" src="{{ plot.plot_image.url }}" alt="Plot Image"></a>
                    {% else %}
                    <a href="#"><img class="mx-auto mb-2 w-96 " src="{% static 'images/default.jpg' %}" alt="Default image"></a>
                    {% endif %}
                </figure>
                <div class="mx-auto my-2 text-center max-w-7xl">
                    {% if plot.categories == 'Campsite' %}
                    <a class="block w-3/4 p-3 px-3 mx-auto mt-3 text-white placeholder-transparent bg-blue-700" href="{% url 'campsite-plots' %}">Campsite</a>
                    {% endif %}

                    {% if plot.categories == 'Official' %}
                    <a class="block p-3 px-3 mt-3 bg-yellow-300" href="{% url 'official-plots' %}">Official</a>
                    {% endif %}

                    {% if plot.categories == 'Wild' %}
                    <a class="block p-3 px-3 mt-3 text-white bg-green-700" href="{% url 'wild-plots' %}">Wild</a>
                    {% endif %}
                </div>
 
                <div class="p-5 mx-auto mt-5 text-xl max-w-7xl">
                    <p class="text-truncate"><strong>Description:</strong> {{ plot.description }}</p>
                    
                    <p><strong>Campsite:</strong> {{ plot.campsite }}</p>
                    <p><strong>Price Per Night:</strong> {{ plot.price }}</p>
                    <p><strong>Country:</strong> {{ plot.countries }}</p>
                    
                    {% if plot.what3words is not None %}
                    <p><strong>What3Words:</strong> <a class="p-3 ml-3 text-white bg-blue-600 rounded-md" href="{{ plot.what3words }}"> Get Directions</a> </p>
                    <p class="p-3">This is a precise what3words address, made of 3 random words. Every 3 metre square in
                        the world has its own unique what3words address.</p>
                        {% endif %}
                    
                    
                    {% if user != plot.owner %}
                    
                    {% if plot.owner %}
                    <div class="p-3 my-6 rounded-lg mx-14">
                        <a href="{% url 'user-profile' plot.owner.username %}">
                            
                            <p class="text-center"><strong>Plot Poster:</strong> {{ plot.owner.username }} </p>
                        </a>
                            <p class="text-center"><strong>Real Name:</strong> {{ plot.owner.profile.realname }} </p>
                        {% else %}
                        <span>No Owner</span>
                    </div>
                    {% endif %}
                        
                </div>
<!-- Comments COUNT  -->
                <hr class="mx-auto border-2 border-blue-900 max-w-96">
                <div class="mx-3 ">
                    <div class="my-3 ">
                        {% if plot.comments.count %}
                        <h5 id="commentscount-{{ plot.id }}" class="mt-2 text-xl text-center text-blue-800">
                            📣 Comments: <span class="">{{ plot.comments.count }}</span>
                        </h5>
                        {% else %}
                        <p class="text-2xl text-center ">📣 Add a Comment below..</p>
                        {% endif %}
                    </div>

<!-- Likes COUNT -->

                    <div>
                        <h5 class="mb-3 text-xl text-center text-blue-800">
                            
                            {% if user in plot.likes.all %}
                            💙 Plot Liked: {{ plot.likes.count }}
                            {% else %}
                            ❤️ Likes: {{ plot.likes.count }}    
                            {% endif %}
                                
                        </h5>
                    </div>
                </div>
                <div class="py-4 text-center">
                    {% if user.is_authenticated and user != plot.author %}
                    
                        {% if user in plot.likes.all %}
                        <a class="w-64 p-3 mt-4 bg-gray-400 rounded-md" href="{% url 'like-plot' plot.id %}">Remove Like</a>                       
                        {% else %}
                        <a class="w-64 p-3 mx-auto text-white bg-red-600" href="{% url 'like-plot' plot.id %}">Like</a>
                        {% endif %}
                </div>
                    {% endif %}

                {% endif %}

                <hr class="mx-auto border-2 border-blue-900 max-w-96">

                <div class="flex justify-between gap-3 py-6">

                    {% if user.is_authenticated and user == plot.owner %}

                    <a class="p-3 border-2 border-yellow-500 rounded-md hover:bg-yellow-500 " href="{% url 'edit-plot' plot.id %}">Edit Plot</a>
                    <a class="p-3 border-2 border-red-500 rounded-md hover:bg-red-500" href="{% url 'delete-plot' plot.id %}">Delete Plot</a>
                    {% else %}
                    <a class="p-3 mx-4 text-center text-blue-600 border-2 border-blue-700 rounded-md w-44 hover:bg-blue-600 hover:text-white" href="{% url 'home' %}">Home</a>

                    {% endif %}
                    
                    {% if user.is_superuser  %}
                    <a class="p-3 text-center bg-red-600 rounded-md" href="{% url 'delete-plot' plot.id %}">Delete Plot</a>
                    {% endif %}
                        
                </div>

                <h2 class="py-2 mt-3 mb-2 text-2xl font-semibold text-center text-white rounded-lg bg-sky-400 lg:py-6">Comments & Replies</h2>





    <div class="bg-blue-200 card">
        {% if user.is_authenticated %}
        <!-- COMMENT FORM -->
            <div class="bg-blue-300 shadow">
                <div class="container mx-auto mt-2">
                    <form class="p-2" 
                    hx-post="{% url 'comment-sent' plot.id %}"
                    hx-target="#tab-contents"
                    hx-swap="afterbegin"
                    _="on htmx:afterRequest reset() me">
                        {% csrf_token %}
                        {{ commentform.as_p }}
                        <button @click="open = false" class="p-3 mb-2 bg-blue-300 border border-blue-500 rounded-md shadow hover:bg-blue-500 hover:text-white"
                            type="submit">Add Comment</button>
                    </form>
                </div>
            </div>
        




        {% else %}
        <h3 class="text-center"><a href="{% url 'login' %}">Login</a> If You Want to Make a Comment</h3>
        {% endif %}
        <div class="my-4 col" id="tab-contents">
            {% for comment in plot.comments.all %}
            {% include 'includes/comment.html' %}

            {% endfor %}
        </div>
    </div>
</div>

<!-- add the sidebar stuff here - but in a grid -->
<hr class="my-10 border-2 border-blue-900 ">

<div class="grid gap-6 mx-4 my-6 lg:grid-cols-4 min-h-96">
    <div class="h-full rounded-md">{% include 'includes/plotoftheweek.html' %}</div>
    <div class="h-full rounded-md ">{% include 'includes/products.html' %} </div>
    <div class="h-full rounded-md">{% include 'includes/languages.html' %}</div>
    <div class="h-full rounded-md">{% include 'includes/search.html' %}</div>
</div>




{% endblock content %}